{% extends 'mainapp/base.html' %}
{% load mathfilters %}

{% block content %}
    <ul class="messages" id="messages-list">
        {% if messages %}
            {% for message in messages %}
                <li>
                    {% if message.tags %}
                        <div class="alert alert-{{ message.tags }} msg fade show" role="alert">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-info msg fade show" role="alert">{{ message }}</div>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <form action="" method="post">
        {% csrf_token %}
    {% if products_in_card %}
        <table class="table table-hover">
            <tbody>
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Колличество</th>
                <th scope="col">Цена</th>
                <th scope="col"></th>
            </tr>
            </thead>
            {% for i in products_in_card %}
                <tr>
                    <td><a href="{{ i.content_object.get_absolute_url}}">{{ i.content_object.title }}</a></td>
                    <td><input id="team_name" type="number" class="form-control form_input" name="{{ i.id }}"
                               value="{{ i.total_products }}"></td>
                    <td>{{ i.content_object.price|mul:i.total_products }}</td>
                    <td><a href="{% url 'delete_from_card' product_id=i.id %}" class="btn btn-outline-dark btn-sm">Убрать</a></td>
                </tr>
            {% endfor %}
            <tr class="table-active">
                <td>Итого</td>
                <td> </td>
                <td>{{ sum_in_catd }}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Обновить корзину" class="btn btn-primary">
        <a href="{% url 'create_order' %}" class="btn btn-success"> Оформить заказ</a>
    </form>
        {% else %}
        <p>Корзина пуста</p>
    {% endif %}


{% endblock content %}

