{% extends 'mainapp/base.html' %}
{% load mathfilters %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for i in products_in_card %}

            <p>{{ i.content_object.title }}</p>
            <p>{{ i.content_object.price|mul:i.total_products }}</p>
            <label for="team_name">Amount: </label>
            <input id="team_name" type="text" name="{{ i.id }}" value="Default name for team.">
            <br>
        {% endfor %}
        <input type="submit" value="OK">
    </form>
{% endblock content %}