{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="row padding_top">
        {% for i in products %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    {% if i.image %}
                    <a href="#"><img class="card-img-top img_lict_products" src="{{ i.image.url }}" alt=""></a>
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'detail_product' product_name_category=i.product_name product_id=i.pk %}">{{ i.title }}</a>
                        </h4>

                        <p class="card-text">{{ i.description }}</p>
                    </div>
                    <div class="card-footer">
                        <h5>{{ i.price }}p.</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}