{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="row padding_top">
        <div class="col-lg-9">
            <h4>{{ data_product.Наименование }}</h4>
            {% if data_product.image %}
                <img class="card-img-top img_detail_product" src="{{ data_product.image.url }}" alt="">
            {% endif %}
            <h5 class="price">{{ data_product.Цена }} р.</h5>
            {% if not in_card %}
                <a href="{% url 'add_to_card' name_category=data_product.product_name product_id=data_product.ID %}"
                   class="btn btn-outline-dark btn-sm">
                    Добавить в корзину
                </a>
            {% else %}
                <a href="{% url 'card_manager' %}"
                   class="btn btn-outline-secondary btn-sm">
                    Перейти в корзину
                </a>
            {% endif %}
            <table class="table table-striped">
                <tbody>
                {% for key, value in data_product.items %}
                    {% if key != 'Наименование' and key != 'image' and key != 'slug' and key != 'Цена' %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}