body {
    padding-top: 54px;
    background-color: rgba(0, 40, 56, 0.06);
}

.img_lict_products {
    width: 150px;
    margin-left: 50px;
}

.img_detail_product {
    width: 200px;
    margin-left: 200px;
}

.catalog {
    padding: 15px 0 20px 20px;
}

.product_item {
    color: #002838;
}

.padding_top {
    padding-top: 20px;
}

.price {
    padding: 20px 0 10px 0;
}

.form_input{
    width: 100px;
}

.detail_order_title{
    padding: 15px 0 0 12px;
}

.date_order_detail{
    font-size: 80%;
    font-style: italic;
    color: #8f8f8f;
    padding: 0 0 15px 12px;
}

.product_detail_main_information{
    height: 30px;
}

.cart_blank{
    padding-top: 50px;
}



html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
}

.main-content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

