body {
    padding-top: 54px;
    background-color: rgba(0, 40, 56, 0.06);
}

.img_lict_products {
    width: 70px;
}

.img_detail_product {
    width: 50%;
}

.catalog {
    padding: 15px 0 20px 20px;
}

.product_item {
    color: #002838;
}

.padding_top {
    padding-top: 20px;
}

.price {
    padding: 20px 0 10px 0;
}

.form_input{
    width: 100px;
}